{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
<style >

body
{
    /* background-image: url("http://www.irbsearch.com/img/slides/bg-most-data.jpg"); */
    background-image: url("http://www.reuun.com/data/out/139/403696063-website-wallpapers.png");
    background-repeat:no-repeat;

    background-size:150%;
}
</style>
<style>

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button5:hover {
    background-color: black;
    color: white;
}






.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

</style>



        <h1 style="color:#ffffff">Categories</h1>

        <div class="row">
            <div class="col s5  m2">
              <div class="card black darken-1">
                <div class="card-content white-text">
                  <span class="card-title"><h1  {% if not category %}class="selected"{% endif %}>
                      <a class="navbar-link" href="{% url "product_list" %}"> All</a>

                  </h1>
                </span>


                </div>
                <!-- <div class="card-action">
                  <a href="#">This is a link</a>
                  <a href="#">This is a link</a>
                </div> -->
              </div>
            </div>
          </div>
  {% for c in categories %}
          <div class="row">
              <div class="col s5  m2">
                <div class="card black darken-1">
                  <div class="card-content white-text">
                    <span class="card-title"><h1 {% if category.slug == c.slug %}class="selected"{% endif %}>
                        <a href="{{ c.get_absolute_url }}">{{c.name}}</a>
                    </h1>
                  </span>


                  </div>
                  <!-- <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                  </div> -->
                </div>
              </div>
            </div>
    {% endfor %}

       <div class="container" style= "text-align :center ; margin :0 auto">
        <ul>
            <h1  {% if not category %}class="selected"{% endif %}>
                <a class="navbar-link" href="{% url "product_list" %}"><button type="button" class="button button5 btn btn-primary " style="height:50px;width:500px">All</button></a>
            </h1>
        {% for c in categories %}
            <h1 {% if category.slug == c.slug %}class="selected"{% endif %}>
                <a href="{{ c.get_absolute_url }}"><button type="button" class="button button5 btn btn-primary " style="height:50px;width:500px">{{c.name}}</button></a>
            </h1>
        {% endfor %}
        </ul>
</div>
{% endblock %}
