<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}prosthetics.com{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <link rel="stylesheet" href="{% static "css/base.css" % }"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

<style>

body
{
    /* background-image: url("http://www.irbsearch.com/img/slides/bg-most-data.jpg"); */
    /* background-image: url("https://i.pinimg.com/originals/0e/86/98/0e86989645e59fd230f5f9f7bcf7eaff.jpg"); */
    background-repeat:no-repeat;

    background-size:150%;
}
img {

    border-radius: 10%;
}
em {      font-size: 200%;     }
</style>
<script>
function bigImg(x) {
    x.style.height = "250px";
    x.style.width = "300px";
}

function normalImg(x) {
    x.style.height = "200px";
    x.style.width = "250px";
}
</script>
<body>
<nav class="navbar  large navbar navbar-inverse bg-inverse" style= "width:100% ; margin: 0 auto;background-color:#000000">

    <div class="container">

          <ul class="nav navbar-nav ">
            <li>  <img src="{% static "images/sirmvit.jpg" %}" alt="Sir MVIT" style="width:50px;height:50px;"></li>

        <li ><label><a class ="navbar-brand " href="{% url 'home' %}">Home</a></label></li>

</ul>
<ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}


            <li><a class ="navbar-link " href="{% url 'logout' %}"><span class="glyphicon glyphicon-user"></span>logout</a></li>
          {% else %}
          <li><a class ="navbar-link"href="{% url 'login' %}">Login</a></label></li>
           <li><a class ="navbar-link"href="{% url 'signup' %}">Signup</a></label></li>
          {% endif %}
        </ul>

</div>



  </nav>



    <div class="container" style="height :100% ">





        <h1><em>{% if category %}{{ category.name }}{% else %}ALL STUDENTS{% endif %}</em></h1>
        </div>
        <br>
        <br>
        {% for product in products %}
            <div class="row button5">
              <div class="col-xs-4">




                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "images/no_image.png" %}{% endif %}" onmouseover="bigImg(this)" onmouseout="normalImg(this)" border="0" height="250px" width="250px"class="w3-cirle">


              </div>
              <label>


              <div class="col-xs-8">

                <div class="row">
      <div class="col s12">This div is 12-columns wide on all screen sizes</div>
      <div class="col s6">6-columns (one-half)</div>
      <div class="col s6">6-columns (one-half)</div>
    </div>

                <h1>{{ product.name }}</h1><br>

              Address           :{{ product.address }}<br>
              USN               :{{ product.USN }}<br>
              First Semester    :{{ product.first }}<br>
              Second Semester   :{{ product.second }}<br>
              Third Semester    :{{ product.third }}<br>
              Fourth Semester   :{{ product.fourth }}<br>
              Fifth Semester    :{{ product.fifth }}<br>


                <br>

              </div>
            </div>
          </label>


                 <hr style="display: block;height: 1px;border: 0;border-top: 1px solid #ccc;margin: 1em 0;padding: 0;">


        {% endfor %}
    </div>
</div>
</body>
</html>
